body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------- BREATHING ANIMATION ---------------- */

@keyframes breath {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  25% {
    transform: scale(1.3); /* inhale */
    opacity: 1;
  }

  50% {
    transform: scale(1.3); /* hold */
    opacity: 1;
  }

  75% {
    transform: scale(1); /* exhale */
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
